@import "typography";
@import "variables";
@import "button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 124.94px;
  // padding: 124.94px 32px 0 32px;
  width: 900px;
  margin: 0 auto;
}

.section {
  &_join-club {
    position: relative;
    margin-bottom: 82.94px;
  }
}

.price {
  display: inline-flex;
  align-items: center;
  border-radius: 500px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(255, 255, 255, 0.63) 100%
    ),
    radial-gradient(141.42% 141.42% at 100% 0%, #e0b8ff 0%, #b6b9ff 100%);

  &_after {
    color: #2e2c21;
    line-height: 1;
    padding: 4px 12px;
    background: radial-gradient(
      141.42% 141.42% at 100% 0%,
      #e0b8ff 0%,
      #b6b9ff 100%
    );
    border-radius: 500px;
  }

  &_before {
    color: #808080;
    font-size: 16px;
    line-height: 1;
    padding-right: 12px;
    padding-left: 13px;
    text-decoration: line-through;
  }
}

.logo {
  width: 176px;
  height: 50.13px;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 28px;

  &_benefits {
    margin-bottom: 39px;
  }
}

.img-scooter {
  position: absolute;
  top: -111px;
  right: -161px;
  width: 742px;
  height: 742px;
  transform: rotate(-8.008deg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.img-scooter-club {
  position: absolute;
  top: 269px;
  right: 182px;
  animation: rotateAnimation 8s infinite linear;
}

.gradient {
  position: absolute;
  top: 10px;
  right: -100px;
  width: 657.8px;
  height: 401.903px;
  transform: rotate(-140.03deg);
  border-radius: 657.8px;
  opacity: 0.5;
  background: #8241ef;
  filter: blur(100px);
  z-index: -2;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
  row-gap: 60px;

  &__item {
    max-width: 400px;
  }

  &__icon {
    margin-bottom: 13px;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
